body{
    font-family: 'Montserrat', sans-serif;
}
/*styles for elements*/
header{
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    height: 767px;
    padding-top: 36px;
}

header nav{
    max-width: 650px;
    width: 100%;
    font-size: 18px;
}

h1{
    font-size: 68px;
    font-weight: bold;
    line-height: 120%;
}
/*end of styles for elements*/

/* base styles */
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.footnote-bordered{
    font-size: 16px;
}

.button-container{
    display: flex;
}

.button-container a{
    color: #ffffff;
    text-decoration: none;
    background-color: #FF6B00;
    padding: 15px 48px;
    border-radius: 6px;
}

/*end of base styles */

/*styles for header*/
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-navigation{
    display: flex;
    justify-content: space-between;
    padding-left: 4px;
    padding-right: 4px;
}
.header-navigation a{
    color: #ffffff;
    text-decoration: none;
}

.header-content{
    display: flex;
    margin-top: 120px;
}

.left-content{
    max-width: 533px;
    width: 100%;
}

header .footnote-bordered{
    margin-bottom: 8px;
}

header .button-container{
    margin-top: 32px;
}

.button-footnote{
    margin-top: 16px;
}

.right-content{
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-left: 37px;
}

/*styles for transforming banner*/
.absolute-block{
    position: absolute;
    width: 1125px;
    height: 645px;
    left: 0;
}

.transform-image-container{
    overflow: hidden;
    background-color: #ffffff;
    position: absolute;
}
#transform-banner1{
    height: 569px;
    width: 557px;
    margin-left: 30px;
}

#transform-banner1 img{

}

#transform-banner2{
    height: 334px;
    width: 307px;
    margin-top: 30px;
}

#transform-banner3{
    height: 223px;
    width: 551px;
    margin-right: 30px;
}
/*end of styles for transforming banner*/

/*end of styles for header*/
