body{
    font-family: 'Montserrat', sans-serif;
}
/*styles for elements*/
header{
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    height: 767px;
    padding-top: 36px;
}

header nav{
    max-width: 650px;
    width: 100%;
    font-size: 18px;
}

h1{
    font-size: 68px;
    font-weight: bold;
    line-height: 120%;
}
/*end of styles for elements*/

/* base styles */
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.footnote-bordered{
    font-size: 16px;
}

.button-container{
    display: flex;
}

.button-container a{
    color: #ffffff;
    text-decoration: none;
    background-color: #FF6B00;
    padding: 15px 48px;
    border-radius: 6px;
}
/*end of base styles */

/*styles for header*/
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-navigation{
    display: flex;
    justify-content: space-between;
    padding-left: 4px;
    padding-right: 4px;
}
.header-navigation a{
    color: #ffffff;
    text-decoration: none;
}

.header-content{
    margin-top: 120px;
}

.left-content{
    max-width: 533px;
    width: 100%;
}

header .footnote-bordered{
    margin-bottom: 8px;
}

header .button-container{
    margin-top: 32px;
}

.button-footnote{
    margin-top: 16px;
}

.right-content{
    width: 100%;
    overflow: hidden;
}

/*end of styles for header*/